@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
	width: 900px;
	margin: 0 auto;
	font-family: 'Merriweather Sans', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.btn {
	width: 300px;
	float: left;
	margin-left: 300px;
	margin-bottom: 10px;
}

#presentation-navigation {
	position: fixed;
	bottom: 10px;
	left:20%;
	width: 60%;
	
}

#presentation-navigation .btn{
	width: 100px;
	margin: 0;
}

.btn-next {
	float: right;
}

.actiondiv {
	margin-left: 640px;
}

.actiondiv .btn {
	margin-left: 0px;
	width: 190px;
}

.hidden{
	display: none;
}

.mapscanvas { 
    height: 538px;
    width: 430px;
    position: absolute;
    margin-top: 0px;
    margin-left: 185px;
}

.actions {
	margin-left: 630px;
	margin-top: 20px;
}

.allDistricts {
    float: left;
    border: 1px solid #02AAFC;
    margin: 0px;
    width: 170px;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 10px 0;
}

.allDistricts a {
    display: block;
    width: 166px;;
    padding: 2px;
}

.allDistricts a:hover {
    background-color: #02AAFC;
    color: #FFF;
}
